.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 40px;
}

.content-area {
  flex: 1;
  padding: 20px;
  margin-left: 250px;
  height: calc(100vh - 80px);
}
